/ChatPrivado.class
/ComandosServer.class
/CrearSala.class
/Default.class
/EnviarMsjAllSala.class
/IngresarSala.class
/ObtenerHistorial.class
/Salir.class
/SalirDeSala.class
/VerTiempoConexion.class
/VolverLobby.class
/ObtenerSalas.class
/Refrescar.class
/RefreshJugadores.class
/AvisarIngreso.class
/ExpulsarAtodos.class
